name: release

on:
  push:
    branches:
    - main
    tags:
    - v*

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      flags: ""
      # renovate: datasource=github-releases depName=goreleaser/goreleaser
      GORELEASER_VERSION: v1.26.2
    steps:
    - if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
      run: echo "flags=--snapshot" >> $GITHUB_ENV
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - uses: goreleaser/goreleaser-action@v6
      with:
        version: ${{ env.GORELEASER_VERSION }}
        args: release --clean ${{ env.flags }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v4
      with:
        name: release
        path: dist/*
    - uses: rajatjindal/krew-release-bot@v0.0.46
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
